<h1>Welcome</h1>
<h3>Here's the rules for the game</h3>
<p>In the address bar of you browser, after 4567/play/, enter each player's hand.</p>
<h3>Example</h3>
<ul>
  <li>4567/play/rock/paper</li>
</ul>
